<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" type="text/js" href="{{ url_for('static',filename='mian.js') }}"> 
    <script src="script.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Sub-Delicious</title>
</head>



<body id="container">
    <h1 class="dashboard_logo_title">Sub-Delicious</h1>
    <nav class="dashboard_top_bar">
        <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/menu.png') }}" alt="add image">
        <a class="nav_bar_button" href="/menu">Menu</a>
        
        <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/shopping-cart.png') }}" alt="add image">
        <a class="nav_bar_button" href="/cart">Cart</a>

        <img class="sub_logo" src="{{ url_for('static', filename='img/sub_logo.png') }}" alt="add image">
        
        <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/user_photo.png') }}" alt="add image">
        <a class="nav_bar_button" href="/account">My Account</a>
        
        <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/logout3.png') }}" alt="logout image">
        <a class="nav_bar_button" href="/">Logout</a>
        
        <div class="username_nav_bar">
            <p>Welcome, {{user.firstName}}</p>
        </div>
    </nav>



                                    <!-- WELCOME TEXT -->
    <div class="dashboard_info text-center">
        <h1>Order your favorites or create a new sub to your liking below.</h1>
    </div>






















                        <!-- BOTTOM OF PAGE -->

    <div class="dashboard_bottom_bar">
        &#169; all copyrights reserved to this symbol to the left. Feel like I didn't really need to add this logo or text but I guess it makes it look a bit more professional. On the dl, I like subs, but pizza kinda slaps harder tbh, lol, why are you still reading this.
        <div>
            <img class="premium_tag" src="{{ url_for('static', filename='img/premium_tag.png') }}" alt="add image">
        </div>
    </div>
    



                        <!-- JAVA SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF630JCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>