<!DOCTYPE html>
    <html lang="en">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
        <link rel="stylesheet" type="text/js" href="{{ url_for('static',filename='css/index.js') }}"> 
        <script src="script.js" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Sub-Delicious</title>
    </head>

    <body id="container">
        <h1 class="dashboard_logo_title">Sub-Delicious</h1>
        <nav class="dashboard_top_bar">
            <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/menu.png') }}" alt="add image">
            <a class="nav_bar_button" href="/menu">Menu</a>
        
            <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/shopping-cart.png') }}" alt="add image">
            <a class="nav_bar_button" href="/cart">Cart</a>

            <img class="sub_logo" src="{{ url_for('static', filename='img/sub_logo.png') }}" alt="add image">
        
            <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/user_photo.png') }}" alt="add image">
            <a class="nav_bar_button" href="/account">My Account</a>
        
            <img class="dashboard_top_bar_images" src="{{ url_for('static', filename='img/logout3.png') }}" alt="logout image">
            <a class="nav_bar_button" href="/">Logout</a>
        
            <div class="username_nav_bar">
                <p>Welcome, {{user.firstName}}</p>
            </div>
        </nav>




                                    <!-- CAROUSEL  -->
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <div class="slide slide_1">
                        <img class="slide_background_image_1" src="{{ url_for('static', filename='img/carousel.jpg') }}" alt="add image">
                        <div id="slide_content">
                            <h2>Slide1</h2>
                            <p>random text</p>
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <img class="slide_background_image_1" src="{{ url_for('static', filename='img/background_sub.jpg') }}" alt="add image">
                        <div class="slide_content">
                            <h2>Slide2</h2>
                            <p>random text</p>
                        </div>
                    </div>
                    <div class="slide slide_3">
                        <img class="slide_background_image_1" src="{{ url_for('static', filename='img/background_sub.jpg') }}" alt="add image">
                        <div class="slide_content">
                            <h2>Slide3</h2>
                            <p>random text</p>
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <img class="slide_background_image_1" src="{{ url_for('static', filename='img/background_sub.jpg') }}" alt="add image">
                        <div class="slide_content">
                            <h2>Slide4</h2>
                            <p>random text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1">
                <img class="arrow_next" src="{{ url_for('static', filename='img/angle-right.png') }}" alt="right arrow">
            </label>
            <label for="slide2">
                <img class="arrow_next" src="{{ url_for('static', filename='img/angle-right.png') }}" alt="right arrow">
            </label>
            <label for="slide3">
                <img class="arrow_next" src="{{ url_for('static', filename='img/angle-right.png') }}" alt="right arrow">
            </label>
            <label for="slide4">
                <img class="arrow_prev" src="{{ url_for('static', filename='img/angle-left.png') }}" alt="left arrow">
            </label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>


    <div id="bottom_text">
        <p>ORDER PICKUP OR DELIVERY ONLINE TODAY</p>
    </div>
    <div id="bottom_text2">
        <h2>FIND A LOCATION NEAR YOU!</h2>
    </div>
    
    
    <div id="search_bar_container">
        <div class="text_search">
            <p>Search</p>
        </div>
        <div class="search_bar1">
            <input class="search_bar" type="text" name="city" placeholder="City, State, or Zip">
            <div class="range_tab">
                <p class="within_text">within</p>
                <select class="miles_tab" name="miles">
                    <option>5 miles</option>
                    <option>25 miles</option>
                    <option>50 miles</option>
                    <option>100 miles</option>
                </select>
            </div>
        </div>
        <div class="search_button_container">
            <input class="search_button" type="submit" value="Search">
        </div>
        

    </div>














                        <!-- BOTTOM OF PAGE -->

    <div class="homepage_bottom_bar">
        &#169; all copyrights reserved to this symbol to the left. Feel like I didn't really need to add this logo or text but I guess it makes it look a bit more professional. On the dl, I like subs, but pizza kinda slaps harder tbh, lol, why are you still reading this.
        <div>
            <img class="premium_tag" src="{{ url_for('static', filename='img/premium_tag.png') }}" alt="add image">
        </div>
    </div>
    

    </body>
</html>