<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" type="text/js" href="{{ url_for('static',filename='mian.js') }}"> 
    <script src="script.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Sub-Delicious</title>
</head>


                <!-- TOP NAV BAR -->
<body id="menu_page_container">
    <nav id="menu_top_bar">
        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/home.png') }}" alt="home image">
        <a class="nav_bar_button2" href="/dashboard">Home</a>

        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/shopping-cart.png') }}" alt="cart image">
        <a class="nav_bar_button" href="/cart">Cart</a>

        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/user_photo.png') }}" alt="user account image">
        <a class="nav_bar_button" href="/account">My Account</a>

        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/logout3.png') }}" alt="logout image">
        <a class="nav_bar_button" href="/">Logout</a>

        <a class="nav_bar_button2" href="/dashboard">
            <p class="menu_logo_title">Sub-Delicious</p>
        </a>

        <a class="link_sub_logo" href="/dashboard">
            <img class="menu_sub_logo" src="{{ url_for('static', filename='img/sub_logo.png') }}" alt="sub logo">
        </a>
    </nav>


                <!-- BACKGROUND IMG -->
    <!-- <div>
        <img class="menu_background_img2" src="{{ url_for('static', filename='img/menu_background_img2.jpg') }}" alt="background image">
    </div> -->


    <div id="top_text">
        <h1>Our Menu</h1>
    </div>
    <div class="line_container">
        <div class="lines_top"></div>
    </div>










                                <!-- BODY OF CLASSIC SUBS -->

    <div id="sub_menu_container">
        <div class="top_menu_box">
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Italian Sub</p>
                                </div>
                                <div class="food_price">
                                    <p>$8.15</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo1.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Meatball Sub </p>
                                </div>
                                <div class="food_price">
                                    <p>$5.00</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo2.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Black Forest Ham</p>
                                </div>
                                <div class="food_price">
                                    <p>$7.98</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo3.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Buffalo Chicken</p>
                                </div>
                                <div class="food_price">
                                    <p>$9.98</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo4.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>BLT</p>
                                </div>
                                <div class="food_price">
                                    <p>$5.98</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo2.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Chicken Bacon Ranch</p>
                                </div>
                                <div class="food_price">
                                    <p>$8.18</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo2.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Grilled Chicken</p>
                                </div>
                                <div class="food_price">
                                    <p>$6.25</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
            <div class="onclick">
                <button><a class="menu_link" href="/order/new">
                    <div class="smaller_menu_box">
                        <div class="menu_picture">
                            <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                        </div>
                        <div class="food_title_description">
                            <div class="food_title_container">
                                <div class="food_title">
                                    <p>Cold Cut</p>
                                </div>
                                <div class="food_price">
                                    <p>$7.16</p>
                                </div>
                            </div>
                            <hr>
                            <div class="food_description">
                                <p> - Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                            </div>
                        </div>
                    </div></a>
                </button>
            </div>
        </div>
    </div>




                        <!-- BOTTOM OF PAGE -->

    <div class="menu_page_bottom_bar">
        &#169; all copyrights reserved to this symbol to the left. Feel like I didn't really need to add this logo or text but I guess it makes it look a bit more professional. On the dl, I like subs, but pizza kinda slaps harder tbh, lol, why are you still reading this.
        <div>
            <img class="premium_tag" src="{{ url_for('static', filename='img/premium_tag.png') }}" alt="add image">
        </div>
    </div>
</body>
</html>