<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" type="text/js" href="{{ url_for('static',filename='mian.js') }}"> 
    <script src="script.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Sub-Delicious</title>
</head>


                <!-- TOP NAV BAR -->
<body id="container">
    <nav id="menu_top_bar">
        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/home.png') }}" alt="home image">
        <a class="nav_bar_button2" href="/dashboard">Home</a>
        
        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/shopping-cart.png') }}" alt="cart image">
        <a class="nav_bar_button" href="/cart">Cart</a>

        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/user_photo.png') }}" alt="user account image">
        <a class="nav_bar_button" href="/account">My Account</a>

        <img class="menu_top_bar_images" src="{{ url_for('static', filename='img/logout3.png') }}" alt="logout image">
        <a class="nav_bar_button" href="/">Logout</a>
        
        <p class="menu_logo_title">Sub-Delicious</p>

        <img class="menu_sub_logo" src="{{ url_for('static', filename='img/sub_logo.png') }}" alt="sub logo">
    </nav>


                <!-- BACKGROUND IMG -->
    <!-- <div>
        <img class="menu_background_img2" src="{{ url_for('static', filename='img/menu_background_img2.jpg') }}" alt="background image">
    </div> -->


    <div id="top_text">
        <h1>Our Menu</h1>
    </div>
    <div class="line_container">
        <div class="lines_top"></div>
    </div>










                                <!-- BODY OF CLASSIC SUBS -->

    <div id="sub_menu_container">
        <div class="top_menu_box">
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_menu_box">
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
            <div class="smaller_menu_box">
                <div class="menu_picture">
                    <img class="menu_picture" src="{{ url_for('static', filename='img/sub_photo.jpg') }}" alt="user account image">
                </div>
                <div class="food_title_description">
                    <div class="food_title_container">
                        <div class="food_title">
                            <p>Food Title</p>
                            <hr>
                        </div>
                        <div class="food_price">
                            <p>$7.98</p>
                        </div>
                    </div>
                    <div class="food_description">
                        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa illum, sint consequatur eligendi ipsa vero rem ratione facere deleniti labore ex. Ipsam voluptas repellendus, nam nihil esse iure. Neque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>















                        <!-- BOTTOM OF PAGE -->

    <div class="dashboard_bottom_bar">
        &#169; all copyrights reserved to this symbol to the left. Feel like I didn't really need to add this logo or text but I guess it makes it look a bit more professional. On the dl, I like subs, but pizza kinda slaps harder tbh, lol, why are you still reading this. 
    </div>
    

</body>
</html>