
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}



            /* DASHBOARD(HOMEPAGE) */

#container{
    width: 1000px;
    height: 1500px;
    background-color: #fff5e1;
}
#dashboard_container{
    width: 1000px;
    height: 1400px;
    background-color: #fff5e1;
}


/* DASHBOARD-TOP BAR */
.dashboard_title{
    color: white;
    font-size: xx-large;
    font-family: cursive;
}
.dashboard_logo_title{
    height: 35px;
    width: 140px;
    margin-left: 690px;
    margin-bottom: -80px;
    margin-top: 30px;
    color: black;
    font-size: large;
    font-family: cursive;
}
.dashboard_top_bar{
    height: 250px;
    width: 1450px;
    margin-bottom: 2px;
    padding-left: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
}
.nav_bar_button{
    margin-left: 5px;
    width: 50px;
    height: 30px;
    background-color: rgb(75, 75, 75);
    font-size: large;
    text-decoration: none;
}
.nav_bar_button2{
    margin-left: 5px;
    width: 45px;
    height: 30px;
    background-color: rgb(75, 75, 75);
    text-decoration: none;
}
.dashboard_top_bar_images{
    margin-left: 200px;
    background-color: rgb(75, 75, 75);
    width: 17px;
    height: 17px;
    background-size: contain;
}
.sub_logo{
    width: 200px;
    height: 200px;
    background-size: contain;
    margin-left: 80px;
    margin-right: -90px;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgb(151, 150, 150);
    border-radius: 50%;
}
.username_nav_bar{
    margin-top: -140px;
    margin-left: -20px;
    font-size: large;
}



.dashboard_info{
    margin-top: 20px;
    margin-left: 35px;
}



/* <!-- CAROUSEL  --> */

#slider{
    text-align: center;
}
#slider input[type=radio]{
    display: none;
}
#slider label{
    cursor: pointer;
    text-decoration: none;
}
#slides{
    width: 1450px;
    height: 500px;
    margin-top: -2px;
    background-color: #76bfb6;
    position: relative;
    /* z-index: 1; */
}
#overflow{
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner{
    margin-left: 0;
}
#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner{
    margin-left: -300%;
}
#slides .inner{
    margin-bottom: -70px;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000,0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 200px;
}
#slides .slide{
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#slides .slide_1{
    width: 1450px;
    height: 500px;
    background: darkblue;
}
#slides .slide_2{
    width: 1450px;
    height: 500px;
    background: green;
}
#slides .slide_3{
    width: 1450px;
    height: 500px;
    background: purple;
}
#slides .slide_4{
    width: 1450px;
    height: 500px;
    background: peachpuff;
}
#slide-content{
    margin-bottom: -90px;
    padding: 50px;
}
#controls{
    height: 40px;
    width: 1450px;
    margin-top: -280px;
    z-index: 3;
    position: relative;
}
#controls label{
    transition: opacity 0.2 ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}
#controls label:hover {
    opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1){
    background: no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2){
    background: no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}
#bullets{
    width: 200px;
    height: 30px;
    margin-top: 275px;
    margin-left: 650px;
    text-align: center;
}
#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide1:checked ~ #bullets label:nth-child(2),
#slide1:checked ~ #bullets label:nth-child(3),
#slide1:checked ~ #bullets label:nth-child(4){
    background: #444;
}
.arrow_next{
    width: 40px;
    height: 40px;
    margin-left: -80px;
    background-size: contain;
}
.arrow_prev{
    width: 40px;
    height: 40px;
    margin-right: -80px;
    background-size: contain;
}
.slide_background_image_1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1450px;
    height: 500px;
    background-size: contain;
}
.slide_1_text{
    color: white;
}

#bottom_text{
    margin-left: 100px;
    color: #444;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 1350px;
    height: 45px;
    font-size: large;
}
#bottom_text2{
    margin-left: 100px;
    color: #444;
    display: flex;
    justify-content: center;
    width: 1350px;
    height: 50px;
    font-size: xx-large;
}

#search_bar_container{
    margin-left: 400px;
    width: 750px;
    height: 200px;
}
.text_search{
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.search_bar1{
    display: flex;
    justify-content: space-around;
}
.search_bar{
    height: 30px;
    width: 400px;
    border-color: #3a71a9;
}
.range_tab{
    width: 120px;
    display: flex;
    justify-content: space-around;
}
.within_text{
    margin-right: 30px;
    font-size: larger;
}
.miles_tab{
    margin-top: -10px;
}
.search_button_container{
    width: 750px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_button{
    border-radius: 20%;
    background-color: rgb(111, 188, 255);
    width: 600px;
}


/* BOTTOM BAR */

.premium_tag{
    width: 150px;
    height: 150px;
    background-size: contain;
    margin-left: -750px;
    margin-top: 235px;
}

.homepage_bottom_bar{
    height: 450px;
    width: 1450px;
    margin-top: 200px;
    padding-left: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: smaller;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    opacity: .5;
    object-fit: cover;
    object-position: center;
}

















            /* CART PAGE */
#container{
    background-color: #fff4e0;

}
.sub_delicious{
    font-size: xx-large;
}
.cart_title{
    margin-top: 120px;
    margin-bottom: -50px;
    margin-left: -500px;
    font-size: x-large;
    font-family: Apple Chancery, cursive;
}
.cart_sub_title{
    font-size: larger;
    text-decoration: underline;
}
.checkout_top_bar{
    height: 80px;
    width: 995px;
    margin-bottom: -20px;
    margin-top: 10px;
    margin-left: 250px;
    padding-left: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
.checkout_nav_bar_button{
    margin-left: 5px;
    text-decoration: none;
}
.checkout_top_bar_images{
    margin-left: 100px;
    background-color: rgb(75, 75, 75);
    width: 17px;
    height: 17px;
    background-size: contain;
}

.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}
.wrapper h1{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
.project{
    width: 1300px;
    margin-top: 60px;
    margin-left: 100px;
    display:flex;
}
.shop{
    flex: 75%;
}
.box{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.box:hover{
    transform: scale(1.02);
}
.box img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.content{
    padding: 20px;
    position: relative;

}
.content h3{
    margin-bottom: 30px;
}
.content h4{
    margin-bottom: 50px;
}
.btn-area{
    position: absolute;
    bottom: 20px;
    right: -200px;
    padding: 10px 25px;
    background-color: #3a71a9;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.btn-area:hover{
    background-color: #76bfb6;
    color:white;
}
.unit input{
    width: 50px;
    padding: 8px;
    text-align: center;
}
.btn-area i{
    margin-right: 5px;
}
.right-bar{
    flex: 25%;
    margin-left: 60px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.right-bar a{
    background-color: #76bfb6;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}
.total{
    margin-right: 80px;
}



.submit_order_button{
    width: 120px;
    height: 40px;
    margin-left: 80px;
    margin-top: 190px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 119, 255);
}

.start_order_button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 119, 255);
}



.checkout_bottom_bar{
    height: 250px;
    width: 1500px;
    margin-top: 302px;
    padding-left: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: smaller;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    opacity: .5;
    object-fit: cover;
    object-position: center;
}






































            /* CONFIRMATION PAGE */
#confirmation_container{
    width: 1000px;
    height: 1100px;
    background-color: #fff5e1;
}
.confirmation_title{
    margin-left: 20px;
    margin-top: 275px;
    font-size: xx-large;
    font-family: cursive;
}
.thank_you{
    width: 1400px;
    height: 100px;
    margin-left: 20px;
    margin-top: 150px;
    background-color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);

}

.thank_you_info{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 450px;
    margin-left: 500px;
    margin-top: 150px;
    background-color: white;
    font-size: large;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);

}


.confirmation_bottom_bar{
    height: 250px;
    width: 1500px;
    margin-top: 100px;
    padding-left: 50px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: smaller;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    opacity: .5;
    object-fit: cover;
    object-position: center;
}






















































            /* PROFILE PAGE */


#profile_container{
    width: 800px;
    height: 950px;
    background-color: #fff5e1;
}
.profile_top_bar{
    height: 80px;
    width: 1030px;
    margin-bottom: -20px;
    margin-top: 10px;
    margin-left: 250px;
    padding-left: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
.profile_top_bar_images{
    margin-left: 80px;
    background-color: rgb(75, 75, 75);
    width: 17px;
    height: 17px;
    background-size: contain;
}
.bg-light{
    margin-top: 40px;
    margin-left: 100px;
    width: 1200px;
}

.profile_container{
    background-color: #fff5e1;
}
.user_image{
    margin-top: 20px;
    background-color: white;
    background-size: contain;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.profile_bottom_bar{
    height: 250px;
    width: 1500px;
    margin-top: 90px;
    padding-left: 50px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: smaller;
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
}
.btn{
    margin-top: 20px;
    margin-left: 850px;
}


.past_order_container{

    min-width: 800px;
    min-height: 400px;
    margin-top: 60px;
    margin-left: 90px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.525);
    display: inline-block;
}
.past_order_header{
    font-family: Apple Chancery, cursive;
    font-size: xx-large;
}
.date_favorite{
    margin-top: 30px;
    width: 650px;
    display: flex;
    justify-content: space-between;
}
.favorite_past_order{
    font-weight: 500;
}
.favorite_checkbox{
    margin-right: -400px;
    margin-top: 5px;
}
.past_order_description{
    width: 400px;
    height: 100px;
}
.divider{
    width: 500px;
    height: 5px;
    margin-left: 100px;
    background-color: rgba(34, 34, 34, 0.631);
    display: inline-block;
    border-radius: 50%;
}






























                    /* MENU PAGE */

#menu_top_bar{
    height: 90px;
    width: 1450px;
    margin-bottom: 2px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
}
.menu_top_bar_images{
    margin-left: 200px;
    background-color: rgb(75, 75, 75);
    width: 17px;
    height: 17px;
    background-size: contain;
}

.menu_logo_title{
    height: 35px;
    width: 140px;
    margin-left: 140px;
    margin-bottom: -7px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: cursive;
}
.menu_sub_logo{
    width: 65px;
    height: 65px;
    background-size: contain;
    margin-left: -15px;
    margin-right: -90px;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgb(151, 150, 150);
    border-radius: 50%;
}

.menu_background_img2{
    width: 1450px;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}



.sub_photos{
    width: 300px;
    height: 200px;
    background-size: contain;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.525);
}

.text_above_subs{
    width: 800px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 200px;
    margin-left: 175px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-family: URW Chancery L, cursive;
}
.price_for_subs{
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-top: -45px;
    font-family: URW Chancery L, cursive;
    font-size: larger;
}

.sub_photos_container{
    width: 1100px;
    height: 200px;
    margin-bottom: 200px;
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
}

.dashboard_bottom_bar{
    height: 450px;
    width: 1450px;
    margin-top: 200px;
    padding-left: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: smaller;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    opacity: .5;
    object-fit: cover;
    object-position: center;
}

.new_order_button{
    width: 160px;
    height: 40px;
    margin-left: 200px;
    border-radius: 50px;
    background-color: rgb(51, 116, 255);
    color: aliceblue;
    text-decoration: none;
}

.start_button_container{
    width: 1050px;
    margin-top: -120px;
    margin-left: 70px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
}
.classic_images{
    width: 400px;
    height: 250px;
    background-size: contain;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.525);
}









            /* SUB MENU */

#sub_menu_container{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 20px;
    width: 1400px;
    height: 1400px;
    display: inline-block;
    background-color: greenyellow;
}

.top_menu_box{
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1300px;
    height: 225px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smaller_menu_box{
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 20px;
    width: 550px;
    height: 200px;
    background-color: #fde6b7;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    display: flex;
}
.menu_picture{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-size: contain;
}
.food_title_container{
    width: 400px;
    height: 35px;
    background-color: peru;
    margin-bottom: 25px;
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.food_title_description{
    background-color: #3a71a9;
    padding-left: 20px;
    width: 450px;
    height: 100;
    display: inline-block;
}
.food_title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.food_price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food_description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}
hr {
    width: 400px;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom:90px;
    background-color:rgb(35, 35, 35);
} 
























        /* OrderNew Page */

#ordercontainer{
    width: 1000px;
    height: 1500px;
    background-color: #fff5e1;
}
.order_nav_bar{
    height: 80px;
    width: 1440px;
    margin-bottom: 150px;
    padding-left: 20px;
    margin-top: -375px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(151, 150, 150, 0.525);
    opacity: .5;
    object-fit: cover;
    object-position: center;
}

.background_sub1{
    display: block;
    width: 100%;
    height: 25%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    margin-bottom: -100px;
}